@media (max-width: 1024px) {

  .container {
    padding: 0 100px;
  }

  /* header  */

  .header{
    position: relative;
    padding: 0;
  }

  .header__layout > *:nth-child(1) {
    padding: 33px 0;
}

  .header__layout > *:nth-child(3){
    padding: 28px 0;
}

  .logo{
    margin-right: auto;
  }

  .logo__image {
    width: 112px;
    height: 14px;
  }


  .header__nav {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    padding: 22px 0;
    order: 3;
  }

.header::after {
  content: "";
  position: absolute;
  top: 80px;
  width: 100vw;
  border-bottom: 1px solid #E6EBEC;
}

  /* hero  */

  .hero {
    padding: 90px 0;
    border-top: 1px solid #E6EBEC;
  }

  .hero__item::before {
    height: 270px;
    width: 260px;
    background-image: url("../img/micr-1024.png");
  }

  .hero__text {
    max-width: 539px;
  }

  .hero__parapgraph {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .hero__item::before {
    display: none;
  }

  .hero__text {
    max-width: 100%;
  }

  /* podcast  */

  .podcast__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 114px;
  }


  /* header  */

  .logo__image {
    width: 113px;
    height: 14px;
  }

  .nav__link {
    font-size: 16px;
  }
}

@media (max-width: 720px) {

  /* header  */

  .header__nav {
    padding: 17px 0;
    overflow-x: scroll;
  }

  .nav__list {
    justify-content: baseline;
  }

  .nav__item:not(:last-child) {
    margin-right: 32px;
  }
}


@media (max-width: 590px) {

  .container {
    padding: 0 32px;
  }

  /* header  */

  .header__layout > *:nth-child(1) {
    padding: 22px 0;
}

  .header__layout > *:nth-child(3){
    padding: 15px 0;
}

.header::after {
  top: 54px;
}


  .logo__image {
    width: 87px;
    height: 10px;
  }

  /* hero */

  .hero {
    padding: 40px 0;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 32px;
  }

  .hero__parapgraph {
    font-size: 14px;
  }

  .hero__button {
    width: 200px;
    padding: 17px 45px;
    font-size: 16px;
  }

}

